<form action="#" class="footer-form" id="bigform" method="#">
    <input type="text" class="footer-form_input" name="name" value="" placeholder="Ваше имя*" required>
    <input type="email" class="footer-form_input" name="email" placeholder="Email*" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="28">
    <textarea class="footer-form_input input-area" name="about" required placeholder="Расскажите о своей компании*"></textarea>
    <button class="bigform-btn" type="submit">Подключиться</button>
</form>