footer.footer
    .footer-info
        label(for="bigform").heading Подключиться
        p.footer-text Хотите начать пользоваться системой? Напишите нам.
        p.footer-email email
        p.footer-text hello@everypay.io
        p.footer-copyright &copy; 2020, Everypay

    .footer-form 
        include bigform.pug
        .footer-politics 
            a(href="#mainup").footer-politics-link.maintext Политика конфиденциальности