header.header#mainup  
    a(href="#mainup").logo
        img(src="../assets/img/01logo.svg", alt="Logo") 
    nav.desktop-only
        ul.nav.desktop-only
            li.nav__item 
                a(href="#howitworks").nav-link Как&nbsp;это&nbsp;работает?  
            li.nav__item 
                a(href="#forwhom").nav-link Для&nbsp;кого  
            li.nav__item 
                a(href="#cases").nav-link Кейсы  
            li.nav__item 
                a(href="#tarifs").nav-link Тарифы
            li.nav__item 
                a(href="#safety").nav-link Безопасность
            li.nav__item.tab-only 
                a(href="#mainup").nav-link Контакты
            li.nav__item.tab-only 
                button.burger-btn Вход
            li.nav__item-lang.desktop-only
                a(href="#mainup").nav-link-active RU  
            li.nav__item.desktop-only 
                a(href="#mainup").nav-link EN
    button.connect-btn Подключиться
    button.burger
        span.burger-item 
        span.burger-item