header.header  
    a(href="#")
        img(src="../assets/img/01logo.svg", alt="Logo") 
    nav
        ul.nav 
            li.nav-item 
                a(href="").nav-link.active Как&nbsp;это&nbsp;работает?  
            li.nav-item 
                a(href="").nav-link Для&nbsp;кого  
            li.nav-item 
                a(href="").nav-link Кейсы  
            li.nav-item 
                a(href="").nav-link Тарифы
            li.nav-item 
                a(href="").nav-link Безопасность
            li.nav-item_lang.item 
                a(href="").nav-link-active RU  
            li.nav-item 
                a(href="").nav-link EN
    button.connect-btn Подключиться
    button.burger
            span.burger__item 
            span.burger__item 
            span.burger__item
