header.header#mainup  
    a(href="#mainup")
        img(src="../assets/img/01logo.svg", alt="Logo") 
    nav 
        ul.nav 
            li.nav-item 
                a(href="#howitworks").nav-link-active Как&nbsp;это&nbsp;работает?  
            li.nav-item 
                a(href="#forwhom").nav-link Для&nbsp;кого  
            li.nav-item 
                a(href="#cases").nav-link Кейсы  
            li.nav-item 
                a(href="#tarifs").nav-link Тарифы
            li.nav-item 
                a(href="#safety").nav-link Безопасность
            li.nav-item_lang.item 
                a(href="#mainup").nav-link-active RU  
            li.nav-item 
                a(href="#mainup").nav-link EN
    button.connect-btn Подключиться
    button.burger
        span.burger__item 
        span.burger__item