<form class="smallform" action="#" method="#">
  <input class="smallform-input" type="email" name="email" id="email" placeholder="Введите email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="28">
  <button class="smallform-btn" type="submit">Узнать</button>
</form>