<form class="smallform" action="#" method="#">
  <input class="smallform-input" name="email" id="email" placeholder="Введите email" required  maxlength="28">
  <button class="smallform-btn" type="submit">Узнать</button>
 
</form>


//pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"

//type="email" 

