@import "variables";
@import "header";
@import "forms&buttons";
@import "footer";
@import "slider";
@import "content";

html {
  font-size: 10px;
}
body {
  max-width: 144rem;
  margin: 0 auto;
  font-family: AvenirNextCyr400;
  background: $white;
  @media (max-width: 1000px) {
    margin-right: 0;
  }
}
html,
body {
  overflow-x: hidden;
}
.maintext {
  font-family: AvenirNextCyr400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  @media (max-width: $tab) {
    text-align: left;
  }
  @media (max-width: $minmob) {
    font-size: 16px;
    line-height: 24px;
  }
}
.container {
  padding: 0 17rem;
  background-image: url(../assets/img/Lines.png);
  background-repeat: no-repeat;
  background-position: 0rem 66rem;
  @media (max-width: 1000px) {
    padding: 0 6.4rem;
  }
  @media (max-width: $minmob) {
    padding: 0 2.1rem;
    background-position: 20rem 27rem;
  }
}
.heading {
  font-family: AvenirNextCyr700;
  font-size: 40px;
  line-height: 46px;
  @media (max-width: $tab) {
    text-align: center;
  }
  @media (max-width: $minmob) {
    font-size: 32px;
    line-height: 38px;
  }
}
.desktop-only {
  @media (max-width: $tab) {
    display: none;
  }
}
.tab-only {
  @media (min-width: 769px) {
    display: none;
  }
}
.nomobile {
  @media (max-width: 500px) {
    display: none;
  }
}