doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Everypay
    body
        include modules/header.pug 
        section.slider
            .slider-line
                .slide
                    .slide-info 
                        h1.slide-title Не пропускайте важные оплаты
                        p.slide-desc.maintext Если от них зависят ваши проекты или старт рекламных кампаний
                        .nomobile
                            include modules/smallform.pug
                    .slide-image 
                        img(src="../assets/img/02money.png", alt="slide-image")

                .slide.desktop-only
                    .slide-info 
                        h1.slide-title Сократите издержки на бухгалтерию и коммуникации
                        p.slide-desc.maintext Получайте информацию о платежах на счет компании там, где вам удобно
                        include modules/smallform.pug
                    .slide-image 
                        img(src="../assets/img/03piggybank.png", alt="slide-image")

                .slide.slide-three.desktop-only
                    .slide-info 
                        h1.slide-title_third Создавайте собственные сценарии действий 
                        p.slide-desc.maintext при поступлении денег на счет вашей компании
                        include modules/smallform.pug
                    .slide-image_third
                        img(src="../assets/img/04screenshot.png", alt="slide-image")
                
                .slide.last-slide.desktop-only
                    .slide-info 
                        h1.slide-title.last-slide-title Реагируйте на платежи так быстро, как они поступают на ваш счет
                        include modules/smallform.pug
                    .last-slide-image 
                        img(src="../assets/img/05handwithphone.png", alt="slide-image")
        
        .container
            .offer
                .offer-image
                    img(src="../assets/img/06chat.png", alt="chat-image")
                .offer-info
                    h3.offer-heading Мы предлагаем вам простой инструмент, чтобы автоматизировать информирование о поступающих оплатах.
                    p.offer-description.maintext Бухгалтер на карантине, а директор недоступен? Ответственный сотрудник моментально узнает 
                        |о поступлении денег на счет компании.

            .howitworks#howitworks
                h2.heading Как это работает
                .howitworks-items
                    .howitworks-item
                        .howitworks-image
                            img(src="../assets/img/07connect.png", alt="connect-img")
                        p.howitworks-text.maintext Подключите свой банковский счет
                    .howitworks-item
                        .howitworks-image 
                            img(src="../assets/img/08choise.png", alt="choise-img")
                        p.howitworks-text.maintext Выберите, куда и кому отправлять информацию
                    .howitworks-item
                        .howitworks-image 
                            img(src="../assets/img/09notification.png", alt="notification-img")
                        p.howitworks-text.maintext Получайте информацию о поступивших оплатах

            .automatisation
                .automatisation-heading
                    h2.heading Автоматизируйте бизнес-процессы
                .automatisation-wrapper
                    p.automatisation-text.maintext Подключайте привычные приложения, которые вы используете в работе.
                    include modules/smallform.pug
                
            h2.heading Банки и интеграции          
            .banksintegrations          
                .banks
                    h4.maintext.banksintegrations-heading Банки
                    .banks-items
                        .banks-item
                            .banks-item-wrapper
                                img(src="../assets/img/10tochkabank.png", alt="bank-img")
                        .banks-item
                            .banks-item-wrapper_small
                                img(src="../assets/img/11tinkoffbank.png", alt="bank-img")
                        .banks-item
                            .banks-item-wrapper
                                img(src="../assets/img/12modulbank.png", alt="bank-img")
                    .banks-1c
                        img(src="../assets/img/13csv.png", alt="bank-img")
                        p.banks-1c-text Загрузка из <b>1C</b>
                .integrations
                    h4.maintext.banksintegrations-heading Интеграции
                    .integrations-items
                        .integrations-wrapper
                            img(src="../assets/icons/14push.png", alt="integration-img")
                        p.maintext Push-web уведомления
                        
                    .integrations-items
                        .integrations-wrapper
                            img(src="../assets/icons/15email.png", alt="integration-img")
                        p.maintext E-mail уведомления
                        
                    .integrations-items
                        .integrations-wrapper
                            img(src="../assets/icons/16telegram.png", alt="integration-img")
                        p.maintext Telegram
                        
            .forwhom#forwhom
                h2.heading Для кого
                .forwhom-items
                    .forwhom-item
                        .forwhom-image
                            img(src="../assets/img/17moneytree.png", alt="img")
                        h3.forwhom-heading Малый бизнес
                        p.forwhom-text.maintext Скорость получения информации о платежах и минимизация издержек
                    .forwhom-item
                        .forwhom-image 
                            img(src="../assets/img/18unicorn.png", alt="img")
                        h3.forwhom-heading Стартапы
                        p.forwhom-text.maintext Автоматизация бизнес-процессов и бухгалтерской рутины
                    .forwhom-item
                        .forwhom-image 
                            img(src="../assets/img/19lamp.png", alt="img")
                        h3.forwhom-heading Разработчики
                        p.forwhom-text.maintext Быстрое внедрение своих приложений для малого бизнеса и стартапов

            h2.heading#cases Кейсы
            .cases#cases
                .cases-item 
                    .cases-icons 
                        .cases-icon 
                            img(src="../assets/icons/20bitrix.png", alt="case")
                        .cases-icon 
                            img(src="../assets/icons/21everypay.png", alt="case")
                        .cases-icon 
                            img(src="../assets/icons/22telegram.png", alt="case")
                    h3.cases-heading  Автоматизация диджитал-агентства
                    a(href="#cases").cases-link Читать кейс &gt;

                .cases-item 
                    .cases-icons 
                        .cases-icon 
                            img(src="../assets/icons/20bitrix.png", alt="case")
                        .cases-icon 
                            img(src="../assets/icons/21everypay.png", alt="case")
                        .cases-icon 
                            img(src="../assets/icons/23tochka.png", alt="case")
                    h3.cases-heading  Приём платежей в рекламной медиа-группе
                    a(href="#cases").cases-link Читать кейс &gt;

                .cases-item.desktop-only 
                    .cases-icons 
                        .cases-icon 
                            img(src="../assets/icons/20bitrix.png", alt="case")
                        .cases-icon 
                            img(src="../assets/icons/21everypay.png", alt="case")
                        .cases-icon 
                            img(src="../assets/icons/23tochka.png", alt="case")
                    h3.cases-heading  Оптимизация бухгалтерии в производственной компании
                    a(href="#cases").cases-link Читать кейс &gt; 

            .tarifs#tarifs    
                .tarifs-info            
                    h2.heading Тарифы
                    p.tarifs-desc Everypay находится в стадии закрытого beta-теста, но у вас есть возможность 
                        |присоединиться к тестированию сервиса. 
                    p.tarifs-desc Для компаний, участвующих в тестировании, сервис 
                        | навсегда бесплатен. Напишите нам и мы с вами свяжемся.
                    .tarifs-form
                        include modules/smallform
                .tarifs-image 
                    img(src="../assets/img/24ruble.png", alt="img") 

            h2.heading Скоро появится
            .comingsoon                  
                .comingsoon-item 
                    .comingsoon-title    
                        h3.comingsoon-heading  Интеграции с CRM-системами Битрикс 24 и amoCRM
                    .comingsoon-info  
                        p.comingsoon-desc.maintext Интегрируйте уведомления о платежах прямо в вашу CRM, в которой работают ваши сотрудники
                        .comingsoon-icons
                            img(src="../assets/icons/20bitrix.png", alt="bitrix")
                            img(src="../assets/icons/25crm.png", alt="CRM")
                .comingsoon-item  
                    .comingsoon-title      
                        h3.comingsoon-heading Открытое API Everypay
                    .comingsoon-info  
                        p.comingsoon-desc.maintext Подключайте свои системы и интегрируйте уведомления о поступающих платежах самостоятельно с помощью простого API Everypay

                .comingsoon-item   
                    .comingsoon-title     
                        h3.comingsoon-heading Автоматическое создание платежек
                    .comingsoon-info  
                        p.comingsoon-desc.maintext Загрузите скан счета на оплату в нашу систему 
                            |и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы
                a(href="#mainup").comingsoon-link И еще 17 нововведений 

            h2.heading.tab-only Безопасность
            .safety#safety                 
                .safety-image 
                    img(src="../assets/img/26lock.png", alt="safe")                 
                .safety-info     
                    h2.heading.desktop-only Безопасность               
                    p.safety-desc Использование Everypay полностью безопасно: подключение к банковскому счету осуществляется в режиме «только 
                        |для получения выписок», а хранение информации в системе защищено 
                        |и деперсонализировано.

        include modules/footer.pug    